<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            QR App
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding="">

    <button ion-button block (click)="scan()"> Scan! </button>

</ion-content>